* {
    margin: 0;

}

header {
    background-color: black;
  
}

h1 {
    color: orangered;
}

a {
    color: red;
    text-decoration: none;
}

img {
    width: 300px;
}

div {
    border: solid crimson 1px;
    width: 300px;
}

footer {
    background-color: black;
}

li {
    color: orangered;
    list-style: none;
}